*{
    margin:0;
    padding: 0;
}

   body {
    
   
     font-family: "Poppins", sans-serif;
  
  font-style: normal;


   }

.container{
      border-left: 3px solid #FA7436;   
  border-right: 3px solid #FA7436;
   min-height: 100vh;
   max-width: 1200px;
    display:grid;
    margin: 0 auto ;
   
    grid-template-columns:1fr ;
    grid-template-rows: 1fr;
}
.herosection-first{
     display:grid;
    grid-template-columns:1fr ;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    max-width: 1200px;
   
    padding: 50px 0px;
    background-color:#FEFCFB;
    margin: 0 auto;
    gap: 80px;
}
.header{
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    

    align-items: center;
    justify-content: space-around;
    gap: 8px;
    position:fixed;
    top: 0;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom:50px;
    padding-top:2px;

}
.herologo{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: start;
    gap: 8px;
    transition: all 0.3s ease;
    
}
.herologo a.logo-Trabook{
    flex-basis:100%;
    
    align-items: center;
    
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
  line-height:24px;
  letter-spacing: 0.6%;


   
}

.herologo:hover{
   transform :scale(1.05) translateY(-2px);
   
  
}
.navbar1 a:hover{
    transform :scale(1.05) ;
     color:#FA7336;
    /* box-shadow: -5px 5px 30px -4px rgba(250,116,54,0.56);
    background-color: transparent; */
    
}
.navbar1 a  {
    display: inline-block;
    background-color: transparent;
}
.navbar1 a {
    background-color: transparent; 
}

.navbar1 a:hover {
    transform: scale(1.05);
    color: #FA7336;
    background-color: transparent; 
}

.header ul{
    
    list-style-type: none;
}
.header a{
    text-decoration: none;
    color: black;
}
 .navbar1 ul{
    display: flex; 
    justify-content:center;
    gap:50px;
    align-items: center;
    color: #222222;
    
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
    line-height:24px;
    gap:32px;
    font-size: 16px;


    
    

} 

.navbar2 ul{
    display: flex;
    justify-content:end;
    gap:50px;
    align-items: center;
    color: #222222;
    
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
    
    
  
} 
.button{
    background-color: #FA7436;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    padding: 13px 38px;
    border-radius: .3rem;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    align-self: center;
    transition: all 0.3s ease;
    border: 1px solid #fa7436;
   
    
}
.button:hover{
    
    color:black;
    box-shadow: -5px 5px 30px -4px rgba(250,116,54,0.56);
    transform :scale(1.05);

    

}
.menubar{
    transition: color 0.3s ease, border-top 0.3s ease;
    
}
.menubar:hover{
    color: #FA7436;
    border-top: 4px solid black;
}
a.login{
  color: #FA7436;
}
a.login:hover{
    color: black;
    
}

.main{
    
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;

    padding-top: 50px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;


}
.main .main-left{
    display:flex;
    flex-direction: column;
     padding-top: 150px;
     gap: 40px;
     justify-content:flex-start;
    
    

    

}
 .sub-title{
    
    font-size: 64px;
    
     justify-items: center;
     justify-self: start;
    line-height:3rem;
    font-weight:bold;
    color: #222222;
    opacity:100%;

    font-family: "Volkhov", serif;
    font-weight: 64px;
    font-style: normal;
    line-height:70px;
    
    
  

}
.sub-title span{
    color: #FA7436;
}
.description{
     
   
    justify-items:start;
    color: #8c8b8b;

    text-align: justify;
    line-height:2rem;
     font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

   
    
}
    
.discoverButton{
    
    background-color: transparent;
    border: 1px solid #fa7436;
    border-radius:.3rem;
    
    cursor: pointer;
    color: #fa7436;
   
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    justify-items: start;
    padding: 13px 28px;
   
    text-decoration: none;

    width: fit-content;

    transition: all 0.3s ease;
    
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    
 
   

}
.main-right{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
    position: relative;
    left:110px;
    
    width: 100%;
    
    
}

.discoverButton:hover{
  box-shadow: -5px 5px 30px -4px rgba(250,116,54,0.56);
    transform :scale(1.05);
    
}
.searchbar{
   
    display: grid
;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #ffffff;
    opacity: 100%;
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0);
    border-radius: .3rem;
    
    background-color: #ffffff;
    gap: 8px;
    align-items: center;
    justify-items: center;
    
  


}
.searchbar-l{
display: grid
;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
   
     gap: 8px;
}
.searchbar-m{
display: grid
;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
   
}
.searchbar-g{
display: grid
;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
   
    font-size: 12;
   gap: 8px;
    
}

.location-text ,.date-text ,.guest-text{ 
   
     font-size: 12px;
     color: #666666;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
    

    

.location ,.month, .guest{
     display: flex;
     
    
    align-items: center;
    justify-items:center ;
    

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
    
  
  
   
  
    

.location ul li ,.guest ul li, .month ul li{
    list-style-type: none;
    display: flex;
    gap:0px;
    justify-items: center;
    align-items: center;
    
     

    
}




.select-location{
   background: transparent;
    border: none;
    appearance: none;
    outline: none;
    width: 70px;
    padding: 4px 0px;
    box-sizing: border-box; 
     color: #222222;
     font-family: "Poppins", sans-serif;
     font-weight: 500;
     font-style: normal;
     font-size:16px;
         

}
.select-month{
   background: transparent;
    border: none;
    appearance: none;
    outline: none;
    width: 41px;
    padding: 4px 0px;
    box-sizing: border-box;  
      font-size:16px; 
    color: #222222;
     font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;     

}
.select-guest{
   background: transparent;
    border: none;
    appearance: none;
    outline: none;
    width: 50px;
    padding: 4px 0px;
    box-sizing: border-box; 
   color: #222222;
     font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal; 
   font-size:16px;      

}
.exp-btn{
display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;

     gap: 8px;
}
.exp-btn1{
    display: flex;
   border:none;
   
   flex-direction: row;
   color:#FFFFFF;
    background: #FA7336;
    border-radius:.3rem;
    
    font-size: 18px;
    font-weight: 500;
    margin: 2rem;
   opacity: 100;
    padding: 13px 28px;
    cursor: pointer;
    border: 1px solid #fa7436;
   
    transition: all 0.3s ease;
   

}
.exp-btn1:hover{
  box-shadow: -5px 5px 30px -4px rgba(250,116,54,0.56);
    transform :scale(1.05);
    
}
.things-need{
   display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr ;
    gap:24px;
    max-width: 1200px;
    min-height: 100vh;
    background-color: #f7f8fc;
    padding: 50px 0px;
   
   
}
.things-need-content{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
  
}
.things-need-content-1{
    line-height: 6rem;
}
.things-need-content-1 .things-need-subtitle{
    color:#222222;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: "Volkhov", serif;
    
    font-style: normal;

   
  
}


.things-need-content-1 .things-need-description{
    
    color: #8c8b8b;
    font-size: 16px;
    text-align: center;
    line-height: 1.5rem;
    font-size:18px;
   
}
.things-need-image{
    position:relative;
}
.things-need-image .aer1{
      position: relative;
    left: 185px;
   
    top: 13px;
}
.things-need-image .aer2{
  position: absolute;
    left: 100px;
    bottom: 30px;

}
.things-need-image .con{
 position: absolute;
    left: 80px;
    top: 20px;

}
.things-need-card{

  display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
     padding-bottom: 50px;
    gap: 16px;
    align-content: start;
    align-items: start;

    justify-content: start;
    align-content: start;
}
.things-need-card1{
     display:flex;
     flex-direction: column;
      background: #ffffff;
    color: black;
    max-width: 300px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0);
    border-radius: .3rem;
    background-image: url(resources/card3-line.svg);
    padding: 20px;
    
    background-position: center;
    opacity: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    filter: drop-shadow(1px 3px 8px #f7f8fc);
    
 
}
.things-need-card2{
      display:flex;
     flex-direction: column;
   background-color: #ffffff;
    color: black;
    max-width: 300px;
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0);
    border-radius: .3rem;
    background-image: url('resources/card2-line.svg');
    padding: 20px;
    justify-self: center;
   background-position:center;
   opacity: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-blend-mode: darken;
   filter: drop-shadow(1px 3px 8px #f7f8fc);
}
.things-need-card3{
   display:flex;
  flex-direction: column;
 background-color: #ffffff;
    color: black;
    justify-self: end;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0);
    border-radius: .3rem;
    background-image: url('resources/card3-line.svg');
    padding: 20px;
   max-width: 300px;
    background-position:center;
  
   background-repeat: no-repeat;
   background-size: cover;
   background-blend-mode: darken;
   filter: drop-shadow(1px 3px 8px #f7f8fc);
}
.things-need-card1 .card1-signup{
   flex:50%;
   justify-items:flex-start;
   align-items: flex-start;
   padding: 10px;
    

}
.things-need-card1 .card1-discription{
   flex:25%;
   justify-items:flex-start;
   align-items: flex-start;
   padding: 10px;
   color:#666666;
   font-size: 16px;

}
.things-need-card1 .card1-title{
   flex:25%;
   justify-items:flex-end;
   align-items: flex-end;
   padding: 20px 10px 10px 10px;
   font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color:#222222;
  font-size:18px;

}
.things-need-card2 .card2-money{
   flex:50%;
   justify-items:flex-start;
   align-items: flex-start;
   padding: 10px;

   

}
.things-need-card2 .card2-discription{
   flex:25%;
   justify-items:flex-start;
   align-items: flex-start;
   padding: 10px;
   color:#666666;
  font-size:16px;
}
.things-need-card2 .card2-title{
   flex:25%;
   justify-items:flex-end;
   align-items: flex-end;
   padding: 20px 10px 10px 10px;
   font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
   color:#222222;
   font-size:18px;

}
.things-need-card3 .card3-travel{
   flex:50%;
   justify-items:flex-start;
   align-items: flex-start;
   padding: 10px;
  

}
.things-need-card3 .card3-discription{
   flex:25%;
   justify-items:flex-start;
   align-items: flex-start;
   padding: 10px;
   color:#666666;
   font-size:16px;

}
.card3-title{
   flex:25%;
   justify-items:flex-end;
   align-items: flex-end;
   padding: 20px 10px 10px 10px;
   font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
   color:#222222;
   font-size:18px;
}

.exclusive-deals{
     display: grid;
    grid-template-rows:auto auto;
    grid-template-columns: 1fr ;
    padding: 50px 0px;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    background-color: #FEFcFB;
}
.exclusive-deals-content{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap:24px;
    padding-top:50px;
}
.exclusive-deals-content .exclusive-deals-title{
    color:#222222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
     font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    font-size:48px;
    
}
.exclusive-deals-content  .exclusive-deals-description{
      color: #666666;
    font-size: 16px;
    text-align: center;
    line-height: 1.5rem;
    font-size: 18px;;
}
.exclusive-deals-card{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    justify-content: center;
    gap: 26px;
    margin: 0 auto;
    
    
}
.exclusive-deals-card .e-card1{
    background-color: #FEFCFB;
    filter: drop-shadow(1px 3px 8px #FEFCFB);
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0);
    border :2px solid #FEFCFB;
   
    border-radius: 3%;
     

}
.exclusive-deals-card .e-card2{
    display: flex;
    background-color: #FEFCFB;
    filter: drop-shadow(1px 3px 8px #FEFCFB);
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0);
    border :2px solid #FEFCFB;
   flex-direction: column;
   
    border-radius: 3%;
  
     
}
.exclusive-deals-card .e-card3{
    display: flex;
    background-color: #FEFCFB;
    filter: drop-shadow(1px 3px 8px #FEFCFB);
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0);
    border :2px solid #FEFCFB;
   flex-direction: column;
  
   border-radius: 3%;
     
}
.exclusive-deals-card .e-card4{
    display: flex;
    background-color: #FEFCFB;
    filter: drop-shadow(1px 3px 8px #FEFCFB);
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0);
    border :2px solid #FEFCFB;
   flex-direction: column;
  
   border-radius: 3%;
     
}
.exclusive-deals-card .e-card2 .e-card2-btn-class{ 
    background-image: url('resources/exclusive-card2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 120px 80px 120px 80px;
    border-radius: 3%;
 
    
    
}
.exclusive-deals-card .e-card2 .e-card2-btn-class .e-card2-btn {
     background-color: #FA7336;
     
    border: 1px solid #fa7436;
    border-radius:.3rem;
    width: max-content;
        box-shadow: 0px 0px 80px 60px rgba(13, 13, 13, 0.45);
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    color:  #FEFCFB;
    transition: all 0.3s ease;
    position: relative;
    top:75px;
     font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:18px;
    color:#FFFFFF;

    
}
.exclusive-deals-card .e-card2 .e-card2-btn-class .e-card2-btn:hover{
    box-shadow: -5px 5px 30px -4px rgba(250,116,54,0.56);
    transform :scale(1.05);
    color: #666666;
    
}



 .exclusive-deals-card .e-card2 .e-card2-location {
    display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
}
 .exclusive-deals-card .e-card2 .e-card2-price {
   display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #666666;
        font-size: 16px;
} 
.exclusive-deals-card .e-card1 .e-card1-location {
    display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
}
 .exclusive-deals-card .e-card1 .e-card1-price {
   display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #666666;
        font-size: 16px;
} 
.exclusive-deals-card .e-card3 .e-card3-location {
    display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
}
 .exclusive-deals-card .e-card3 .e-card3-price {
   display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #666666;
        font-size: 16px;
} 
.exclusive-deals-card .e-card4 .e-card4-location {
    display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
}
 .exclusive-deals-card .e-card4 .e-card4-price {
   display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #666666;
        font-size: 16px;
} 
.e-card4 .e-card4-price .e-card4-price1 {
    display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 4px;
    padding: 10px;
   
}
.e-card4 .e-card4-price .e-card4-price2 {
    display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
}
.e-card4-price .e-card4-price2 span{
    background: rgba(250, 115, 54, 0.2) ; 
    color:#FA7336;
    border-radius: 25%;
    padding: 2px 4px;
}

.e-card4 .e-card4-location .e-card4-location1 {
    display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
     font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:24px;
    color:#222222;
}
 .e-card4-location2, .e-card3-location2 , .e-card2-location2, .e-card1-location2{
    
    align-items:space-between;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: #666666;
            font-size: 16px;
}
.e-card3 .e-card3-price .e-card3-price1 {
    display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 4px;
    padding: 10px;
     
    }
.e-card3 .e-card3-price .e-card3-price2 {
    display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
}
.e-card3-price .e-card3-price2 span{
    background: rgba(250, 115, 54, 0.2) ; 
    color:#FA7336;
    border-radius: 25%;
    padding: 2px 4px;
}

.e-card3 .e-card3-location .e-card3-location1 {
    display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
     font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:24px;
    color:#222222;
}

.e-card2 .e-card2-price .e-card2-price1 {
    display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 4px;
    padding: 10px;
     font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #222222;
        font-size: 16px;
}
.e-card2 .e-card2-price .e-card2-price2 {
    display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
}
.e-card2-price .e-card2-price2 span{
    background: rgba(250, 115, 54, 0.2) ; 
    color:#FA7336;
    border-radius: 25%;
    padding: 2px 4px;
}
.e-card2 .e-card2-location .e-card2-location1 {
    display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
     font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:24px;
    color:#222222;
}

.e-card1 .e-card1-price .e-card1-price1 {
    display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 4px;
    padding: 10px;
     font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #666666;
        font-size: 16px;
}
.e-card1 .e-card1-price .e-card1-price2 {
    display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
}
.e-card1-price .e-card1-price2 span{
    background: rgba(250, 115, 54, 0.2) ; 
    color:#FA7336;
    border-radius: 25%;
    padding: 2px 4px;
}
.e-card1 .e-card1-location .e-card1-location1 {
    display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
     font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:24px;
    color:#222222;
}

.exclusive-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    
    
    
}

.vacation{
    display: grid;
    grid-template-rows: auto  1fr ;
    grid-template-columns: 1fr ;
    padding: 50px 0px;
    
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    background-color: #FEFcFB;
    ;
     gap:40px;
     
}

.vacation-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
   
    
}
.vacation-content-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:24px;
}
.vacation-subtitle{
    color:#222222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    
  font-size: 48px;
    line-height: 54px;
    font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;

}
.vacation-description{
    
    color: #8c8b8b;
    font-size: 16px;
    text-align: center;
    line-height: 2rem;
    font-size: 18px;
    
}
.vacation-image{
  position: relative;
  left: 100px;;
}
.arrow-vacation{

   
    display: flex;
    justify-self:end;
     padding-right: 50px;
     position: relative;
     top:50px;
    
   
    
}
.vacation-card{
   display: grid;
   grid-template-rows: auto 1fr;
  

}
.vacation-cards{
     display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: repeat(3,auto);
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin:0 auto;
    
   
    border-radius: 3%;
}
 .vacation-card1{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background-color: #FEFCFB;
    filter: drop-shadow(1px 3px 8px #FEFCFB);
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0);
    border :2px solid #FEFCFB;
     border-radius: 3%;
 } 
 .vacation-card2{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background-color: #FEFCFB;
    filter: drop-shadow(1px 3px 8px #FEFCFB);
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0);
    border :2px solid #FEFCFB;
    border-radius: 3%;
}
 .vacation-card3{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background-color: #FEFCFB;
    filter: drop-shadow(1px 3px 8px #FEFCFB);
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0);
    border :2px solid #FEFCFB;
     border-radius: 3%;

 }
.vacation-location-card1 ,.vacation-location-card3,.vacation-location-card2{
 display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    gap: 100px;
   
     
}
 
 

    .vacation-location1{
       display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 4px;
    padding: 10px;
     font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: #222222;

        

    }
    .vacation-location2{
       display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 4px;
    padding: 10px;
     font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  color: #fa7436;
        
    }
    .vacation-rating-card1,.vacation-rating-card2, .vacation-rating-card3{
        display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
  gap: 150px;
   padding: 10px;
    }
   
  .vacation-rating1{
     display: flex;
    flex-direction: row;
    align-items:space-between;
    justify-content: space-between;
    gap: 4px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #666666;
        
      
  }
  .vacation-cards .e-card4-location1{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #666666;
  font-size: 16px;
  gap: 4px;
    padding: 10px;
  }
  .blogs{
     display: grid;
    grid-template-rows: repeat(2,auto);
    grid-template-columns: 1fr ;
    padding: 100px 0px;
    gap:8px;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    background-color: #FEFBFB;
    padding: 50px 0px;

  }
.blogs-title{
    
     color:#222222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
      font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    line-height: 54px;

}
.blogs-card{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.blog-card1 ,.blog-card2 ,.blog-card3,.blog-card4 {
    display: flex;
    flex-direction: column;
   
    background-color: #FEFCFB;
    
    border :2px solid #FEFCFB;
    border-radius: 3%;
    flex-wrap: wrap;
    gap:24px;
}
.blog-card1{
   align-items: start;
    justify-content: center;
}
.blog-card2,.blog-card3{
   align-items: start;
    justify-content: center;
}
.blog-card4{
   align-items: end;
    justify-content: center;
}
.blog-location {
   align-self: start;
   line-height: 26px;
   justify-self: start;
   font-size: 18;
   font-weight: medium;
   color: #222222;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height:26px;

}

.blog-date{
   align-self: start;
   justify-self: start;
      font-size: 16;
      color:#999999;
      line-height: 26px;
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;


}
.blog-slider{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
   
}
.footer{
    display:grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 2fr ;
  
    gap:48px;
    max-width: 1200px;
    min-height: 100vh;
    padding: 50px 0px;
    background-color: #fefcfb;
    
}
.footer-1{
    display: flex;
    flex-direction: column;
    align-items: center;
     background-image: url("data:image/svg+xml,%3Csvg width='397' height='268' viewBox='0 0 397 268' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M255.535 243.202C255.535 312.635 199.328 368.92 129.996 368.92C60.6627 368.92 4.45556 312.635 4.45556 243.202C4.45559 173.769 60.6628 117.484 129.996 117.484C199.328 117.485 255.535 173.77 255.535 243.202Z' stroke='%23E5E5E5'/%3E%3Cpath d='M283.728 233.237C283.728 310.925 220.839 373.901 143.263 373.901C65.687 373.901 2.79732 310.925 2.79711 233.237C2.79712 155.55 65.6868 92.5723 143.263 92.5723C220.839 92.5724 283.728 155.55 283.728 233.237Z' stroke='%23E5E5E5'/%3E%3Cpath d='M307.775 224.935C307.774 309.96 238.945 378.885 154.042 378.885C69.1389 378.885 0.310043 309.96 0.309808 224.935C0.309811 139.909 69.1388 70.9834 154.042 70.9834C238.946 70.9834 307.775 139.909 307.775 224.935Z' stroke='%23E5E5E5'/%3E%3Cpath d='M335.139 216.63C335.139 308.076 261.112 382.206 169.797 382.206C78.4825 382.206 4.45635 308.075 4.45629 216.63C4.4563 125.184 78.4825 51.0539 169.797 51.0537C261.112 51.0537 335.139 125.184 335.139 216.63Z' stroke='%23E5E5E5'/%3E%3Cpath d='M361.673 208.741C361.673 306.378 282.634 385.527 185.137 385.527C87.6401 385.527 8.60204 306.378 8.60204 208.741C8.60208 111.104 87.6402 31.9553 185.137 31.9551C282.634 31.9551 361.673 111.104 361.673 208.741Z' stroke='%23E5E5E5'/%3E%3Cpath d='M396.5 195.456C396.5 302.724 309.665 389.68 202.551 389.68C95.4366 389.68 8.60178 302.723 8.60155 195.456C8.60156 88.1884 95.4365 1.23156 202.551 1.23144C309.665 1.23144 396.5 88.1883 396.5 195.456Z' stroke='%23E5E5E5'/%3E%3C/svg%3E");

    background-position:  bottom left ;
background-size: auto 285px;
background-repeat: no-repeat;
background-position: left bottom;
    justify-content: center;
    gap: 8px;
    background-color: #FA7436;
    border-radius: 2%;
  
}
.footer-1 .footer-upper{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;

}
.footer-1 .footer-title{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    line-height: auto;
}
.footer-1 .footer-upper .vacation-image{

  position: relative;
  left: 220px;
  bottom: 50px;

}
.footer-1 .footer-input{
background-image: url("data:image/svg+xml;utf8,<svg width='674' height='68' viewBox='0 0 674 68' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='0' width='674' height='68' rx='10' fill='white'/></svg>");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
padding: 10px 30px;
margin: 10px;
 gap:48px;
 border-radius:.3rem;
 display:grid;
 grid-template-columns: repeat(2,4fr);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:16px ;
  line-height: auto;
 
}
input {
  background: transparent; 
  border: none; 
  outline: none; 
  color: transparent; 
   
}

.footer-btn{
     background-color: #fa7436;
    border: 1px solid #fa7436;
    border-radius:.3rem;
    
    cursor: pointer;
    color:#FEFCFB ;
   
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    justify-items: start;
    padding: 6px 18px;
  
    text-decoration: none;
   
    width: fit-content;
    
    transition: all 0.3s ease;
}
.footer-btn:hover{
     color:#666666;
    box-shadow: -5px 5px 30px -4px rgba(250,116,54,0.56);

    transform :scale(1.05) translateY(-2px);
}
.footer-input .input-box  {
   align-self: center;
   justify-self: start;
   display: flex;
   gap: 8px;
   /* flex-basis: 50%; */
}
.footer-input .footer-btn-class {
    align-self: end;
   justify-self: end;
}
 .footer-2{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: auto;
   gap:16px;
 }
 .footer-2-logo{
    display: grid;
    grid-template-rows: 80px auto;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items:start ;
    gap:16px;
 }
 .trabook-footer{
    padding-left: 10px;
    align-self: center;
    
    font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 0.6%;
  line-height: 24px;
 }
  .footer-2-company ,.footer-2-contact,.footer-2-more{
    display: grid;
    grid-template-rows: auto auto ;
    
        align-items: center;
    justify-items: start;
    justify-content: flex-end;
    font-size: 18px;
}

 
 .footer-description{
    line-height: 26px;
    align-self: start;
    font-size: 16px;

 }
 
 .logo-1{
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: #666666;

   
   
 }
 .logo-2{
     padding-top: 20px;
 }

 
 
 .footer-description  ul>li{
      list-style: none;
      line-height: 26px;
       font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #666666;
        
  }
  .footer-company{
      font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  color: #222222;
  }
 .about-us{

   display:grid;
   grid-template-columns: 1fr 1fr ;
   background-color: #f7f8fc;
    gap:80px;
   
    max-width: 1200px;
    min-height: 100vh;
    padding: 50px 0px;
    
 }
 .about-left{
    
    display:flex;
    flex-direction:column;
   
    justify-items:center ;
  
    position: relative;
    
    
    


    
 }
 .about-right{
      display: grid;
      grid-template-columns:1fr 1fr;
      grid-template-rows:auto;
      
    align-content: center;
    justify-content: center;
  
    position: relative;
    
    font-family: "Poppins", sans-serif;
   
     
 }
 .image-aero{
    position: relative;
    left:440px;
    bottom:200px;
 }
 .about-client-1{
    background-color: #edeef2;
   width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    z-index: 1;
     filter: drop-shadow(1px 3px 8px #edeef2);
    box-shadow: 0px 0px 5px -2px rgba(240,241,244,0.75);
    border :3px solid #e8e9ed;
     border-radius: 3%;
    font-size: 16px;
    justify-content: end;
    padding: 10px;
   position: absolute; 
    top: 290px;
    left: 30px;
      


 }
 .about-client-1 p{
     color: #ababad;
     font-weight: 500;
  font-style: normal;
  font-size: 14px;

 }
 .about-client-2{
   width: 400px;
    height: 150px;
    background-color: #FFFFFF;
   filter: drop-shadow(1px 3px 8px #FEFCFB);
    box-shadow: 0px 0px 5px -2px rgba(237,238,242,0.75);
    border :2px solid #FEFCFB;
     border-radius: 3%;
      line-height: 26px;
      display: flex;
      flex-direction: column;
      right: 150px;
    top: 200px;
    display: flex;
     
    
   
   z-index: 2;
   
  align-items: start;
  justify-items: end;
  padding: 20px;
  gap:16px;
 position:absolute;
  
 }
 .name{
   flex-basis: 50%;

  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: #222222;
  

   

 }
 .name p{
  
  font-weight: 500;
  font-style: normal;
   font-size: 14px;
 }
 .review {
    flex-basis: 50%;
    
  color: #444444;
  color:16px;
 }


 
 .client-image{
    position: absolute;
    right: 400px;
    bottom: 160px;
    z-index: 3;}

 .about-subtitle{
    
    color: #222222;
       align-content: center;
       justify-content: center;
      
      display:flex;
      flex-direction: column;
     gap: 32px;
    flex-basis: 80%;
     font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 54px;
  color: #222222;
 }
 .about-description{
    color: #666666;
    line-height: 32px;
    font-weight:normal;
    font-size: 16px;
     font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 16px;
    line-height: 32px;
 }
 
 .container-foot{
    display:grid;
  align-items: center;
  justify-items: start;
   grid-template-columns: repeat(2,auto);
    grid-template-rows:auto;
    font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: #666666;

 }
 .terms{
    justify-self: end;
 }